.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-layer {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
}

.bg-layer-top {
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2
}

.bg2-text span {
  opacity: 0;
  display: inline-block;
}

.bg-layer-top.opened .bg2-text span {
  animation: fadeLetter 1s ease forwards;
}

@keyframes fadeLetter {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg2-text {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 0.3em;

  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Lavonia Classy";
  font-size: 2.5rem;
  color: #9e1919;
  text-align: center;

  z-index: 3;
  pointer-events: none;
}

.word {
  display: inline-flex;
  white-space: nowrap;
}

.letter {
  opacity: 0;
  display: inline-block;
}

.bg-layer-top.opened .letter {
  animation: fadeLetter 1s ease forwards;
}


.bg-layer-top.opened {
  opacity: 1;
}

.clickable-envelope {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  cursor: pointer;
  z-index: 10;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.opening-text {
  font-family: "Biro Script Plus", cursive;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 1.2rem;
  font-weight: 100;
  color: black;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  animation: heartbeat 3s ease-in-out infinite;

  pointer-events: none;
}

.btn {
  position: absolute;
  z-index: 4;
  padding: 0.2rem;
  width: 70px;
  font-family: "computer says no";
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.btn-yes {
  top: 70%;
  left: 45%;
  background-color: #9e1919;
  color: white;
}

.btn-no {
  background-color: #ccc;
  color: #333;
  transition: top 0.1s ease, left 0.1s ease;
}

/*  temporary  */
.black-screen {
  position: absolute;
  inset: 0;
  background: black;
  z-index: 5;
}