.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-layer {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
}

.bg-layer-top {
  opacity: 0;
  transition: opacity 1s ease;
}

.bg-layer-top.opened {
  opacity: 1;
}

.clickable-envelope {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  cursor: pointer;
  z-index: 10;
}