@font-face {
  font-family: 'Biro Script Plus'; /*intro: open me*/
  src: url('./assets/fonts/biro-script-plus.ttf') format('truetype');
}

@font-face {
  font-family: 'Lavonia Classy'; /*heading: will you be my valentine*/
  src: url('./assets/fonts/EDLavonia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Computer says no'; /*body-ish: date, yes/no, etc.*/
  src: url('./assets/fonts/computer-says-no.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}